.gamesPage-container {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
  
}

.gamesPage-header {
    background-color: #002C6D;
    width: 100%;
    padding-top: 100px;
}

.gamesPage-header-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    max-width: 2000px;
    width: 100%;
    justify-self: center;
}

.gamesPage-title {
  font-size: 70px;
  width: 100%;
  color: white;
}

.gamesPage-filters {
  display: flex;
  color: white;
  font-size: 35px;
  gap: 10px;
  margin-bottom: 15px;
}

.gamesPage-filters select {
  font-size: 35px;
  border: none;
  background: #002C6D;
  color: white;
  font-weight: 800;
  cursor: pointer;
}

.games-tabs {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.games-tabs .tab {
    padding: 10px 20px;
    font-weight: 800;
    font-size: 18px;
    width: 250px;
    cursor: pointer;
    background-color: transparent;
    color: #002C6D;
    transition: all 0.3s ease;
}

.games-tabs .active {
    background: linear-gradient(87.65deg, #002D71 -4.01%, #0055D3 150.89%);
    color: white;
}

.games-tabs .upcoming {
    transform: translateX(10px);
}

.games-tabs .past {
    transform: translateX(-10px);
}

.games-tabs .active.upcoming {
    clip-path: polygon(
        0 0,
        100% 0,
        calc(100% - 20px) 100%,
        0 100%
    );
}

.games-tabs .active.past {
    clip-path: polygon(
        20px 0,
        100% 0,
        100% 100%,
        0 100%
    );
}


.gamesPage-vertical {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 2000px;
  justify-self: center;
}

/* Jedna utakmica */
.gameRow {
  width: 60%;
  height: 200px;
  background: white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px 30px;
  box-sizing: border-box;

  border-left: 1px solid rgba(0, 44, 109, 0.5);
  border-right: 1px solid rgba(0, 44, 109, 0.5);
  border-bottom: 1px solid rgba(0, 44, 109, 0.5);
  position: relative;
  /* overflow: hidden; */
  transition:  background-color 0.3s ease;
}

.gameRow:hover {
    background-color: rgba(5, 98, 236, 0.2);
}

.gameRow:first-child {
  border-top: 1px solid rgba(0, 44, 109, 0.5);
}

/* .gameRow::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: var(--league-logo);
  background-repeat: no-repeat;
  background-position: -0% -40%;
  background-size: 200px;

  opacity: 0.15;
  filter: grayscale(100%) brightness(0.7);

  pointer-events: none;
} */

.gameRow-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gameRow-top img {
    width: 90px;
    height: auto;
    display: block;
}

.gameRow-top .kickoff {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    align-items: center;
}

.gameRow-top .stadium {
    text-align: end;
}

.gameRow-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    grid-auto-rows: 120px;
}

.gameRow-center .team {
    font-size: 30px;
    position: relative;
    height: 100%;
    color: black;
    width: 100%;
    overflow: visible;
    align-content: center;
}

.gameRow-center .team::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: var(--team-logo);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;

    opacity: 0.3;
    filter: grayscale(100%) brightness(0.7);

    pointer-events: none;
}

.gameRow-center .score {
    font-size: 60px;
}