.gamesPage-container {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
  width: 100%;
}

.gamesPage-header {
    background-color: #002C6D;
    width: 100%;
    padding-top: 100px;
}

.gamesPage-header-container {
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    margin: 0 auto;          
    padding-left: 50px;      
    padding-right: 50px;     
    width: 100%;
    width: 100%;
    justify-self: center;
}

.gamesPage-title {
  font-size: 70px;
  width: 100%;
  color: white;
}

.gamesPage-filters {
  display: flex;
  color: white;
  font-size: 35px;
  gap: 10px;
  margin-bottom: 15px;
}

.gamesPage-filters select {
  font-size: 35px;
  border: none;
  background: #002C6D;
  color: white;
  font-weight: 800;
  cursor: pointer;
}

.games-tabs {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0 5px;
}

.games-tabs .tab {
    padding: 10px 20px;
    font-weight: 800;
    font-size: 18px;
    width: 250px;
    cursor: pointer;
    background-color: transparent;
    color: #002C6D;
    transition: all 0.3s ease;
}

.games-tabs .active {
    background: linear-gradient(87.65deg, #002D71 -4.01%, #0055D3 150.89%);
    color: white;
}

.games-tabs .upcoming {
    transform: translateX(10px);
}

.games-tabs .past {
    transform: translateX(-10px);
}

.games-tabs .active.upcoming {
    clip-path: polygon(
        0 0,
        100% 0,
        calc(100% - 20px) 100%,
        0 100%
    );
}

.games-tabs .active.past {
    clip-path: polygon(
        20px 0,
        100% 0,
        100% 100%,
        0 100%
    );
}


.gamesPage-vertical {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 2000px;
  justify-self: center;
  margin-bottom: 50px;
}

.gameRow {
  /* width: 60%; */
  width: min(60%, 1200px);
  height: fit-content;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  box-sizing: border-box;

  border-left: 1px solid rgba(0, 44, 109, 0.5);
  border-right: 1px solid rgba(0, 44, 109, 0.5);
  border-bottom: 1px solid rgba(0, 44, 109, 0.5);
  position: relative;
  transition:  background-color 0.3s ease;
}

.gameRow:hover {
    background-color: rgba(5, 98, 236, 0.2);
}

.gameRow:first-child {
  border-top: 1px solid rgba(0, 44, 109, 0.5);
}

/* .gameRow::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: var(--league-logo);
  background-repeat: no-repeat;
  background-position: -0% -40%;
  background-size: 200px;

  opacity: 0.15;
  filter: grayscale(100%) brightness(0.7);

  pointer-events: none;
} */

.gameRow-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: fit-content;
    align-items: center;
}

.gameRow-top img {
    width: 90px;
    height: auto;
    display: block;
}

.gameRow-top .kickoff {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    align-items: center;
}

.gameRow-top .stadium {
    text-align: end;
}

.gameRow-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    grid-auto-rows: 150px;
}

.gameRow-center .team {
    font-size: 30px;
    position: relative;
    height: 100%;
    color: black;
    width: 100%;
    overflow: visible;
    align-content: center;
}

.gameRow-center .team span {
    z-index: 1;
    position: relative;
}

.gameRow-center .team::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: var(--team-logo);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;

    opacity: 0.3;
    /* filter: grayscale(100%) brightness(0.7); */

    pointer-events: none;
    z-index: 0;
}

.gameRow-center .score-goals {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.gameRow-center .score-goals > .score:only-child {
    font-size: 50px;
}

.gameRow-center .score {
    font-size: 40px;
    font-weight: 900;
    height: fit-content;
}

.goals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 10px;
}

.gameRow-bottom {
    text-align: center;
    font-size: 20px;
    transition: color 0.3s ease;
    height: fit-content;
    width: fit-content;
    align-self: center;
}

.gameRow-bottom:hover {
    color: #4DA1FF;
}

@media (max-width: 1200px) {
  .gameRow {
    width: 80%;
  }
}

@media (max-width: 1000px) {

    .gamesPage-title {
        font-size: 48px;
    }

    .gamesPage-filters {
        font-size: 28px;
    }

    .gamesPage-filters select{
        font-size: 28px;
    }

    .gamesPage-vertical {
        padding: 0 15px;
    }

    .gameRow {
        width: 100%;
        padding: 15px;
    }

    .gameRow-top img {
        width: 80px;
    }


    .gameRow-top .stadium {
        font-size: 16px;
    }

    .gameRow-center .team {
        font-size: 25px;
    }

    .gameRow-center .score {
        font-size: 35px;
    }

    .gameRow-center .score-goals > .score:only-child {
        font-size: 45px;
    }
}

@media (max-width: 786px) {
    .gamesPage-title {
        font-size: 36px;
        text-align: center;
    }

    .gamesPage-filters {
        font-size: 22px;
        justify-content: center;
    }

    .gamesPage-filters select{
        font-size: 22px;
    }

    .gameRow-top img {
        width: 70px;
    }

    .gameRow-top .kickoff {
        gap: 8px;
        font-size: 15px;
    }

    .gameRow-top .stadium {
        font-size: 15px;
    }

    .gameRow-center .team {
        height: 120px;
        font-size: 20px;
    }

    .gameRow-center .team::before {
        background-size: 70px;
    }

    .gameRow-center .score {
        font-size: 30px;
    }

    .gameRow-center .score-goals > .score:only-child {
        font-size: 40px;
    }

    .goals {
        font-size: 9px;
    }

    .gameRow-bottom {
        font-size: 18px;
    }
}

@media (max-width: 600px) {

    .gameRow-top img {
        width: 50px;
    }

    .gameRow-top .kickoff {
        gap: 3px;
        font-size: 13px;
    }

    .gameRow-top .stadium {
        font-size: 14px;
    }

    .gameRow-center .team {
        height: 80px;
        font-size: 18px;
    }

    .gameRow-center .team::before {
        background-size: 60px;
    }

    .gameRow-center .score {
        font-size: 25px;
    }

    .gameRow-center .score-goals > .score:only-child {
        font-size: 35px;
    }

    .goals {
        font-size: 8px;
    }

    .gameRow-bottom {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .gamesPage-title {
        font-size: 35px;
    }

    .gamesPage-filters {
        font-size: 20px;
    }

    .gamesPage-filters select{
        font-size: 20px;
    }

    .games-tabs .tab {
        padding: 5px 20px;
        font-size: 16px;
    }


    .gameRow-top {
        grid-template-columns: 1fr 1fr;
    }

    .gameRow-top .kickoff {
        gap: 3px;
        font-size: 13px;
        justify-self: end;
    }

    .gameRow-top .stadium {
        display: none;
    }

    .gameRow-center {
        grid-template-columns: 0.5fr 1fr 0.5fr;
    }

    .gameRow-center .team {
        height: 50px;
        font-size: 10px;
        /* width: fit-content; */
    }

    /* .gameRow-center .team.home {
        justify-self: start;
    }

    .gameRow-center .team.away {
        justify-self: end;
    } */

    .gameRow-center .team::before {
        background-size: 45px;
    }

    .gameRow-center .score {
        font-size: 22px;
    }

    .gameRow-center .score-goals > .score:only-child {
        font-size: 27px;
    }

    .goals {
        font-size: 7px;
    }

    .gameRow-bottom {
        font-size: 15px;
    }
}