#table-section-container {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    letter-spacing: "-0.05em";
}

#table-section-text {
    color:#002C6D;
    font-size: 70px;
    margin: 10px 0 20px 100px;
}

#table-container {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
    grid-column-gap: 20px;
    height: 770px;
    margin-bottom: 40px;
}

#table-graphic-container {
    width: 180px;
    height: 730px;
    align-self: center;
    /* background: #002C6D; */
    background: linear-gradient( 
        10deg, 
        #002C6D 40%,
        #0043A6 71.37%, 
        #0055D3 109.23% 
    );
    border-radius: 0px 90px 90px 0px;
    margin-right: 90px;
}

#table-image-container {
    position: absolute;
    width: 180px; 
    height: auto;
    left: 90px;
    margin-top: 90px;
}

#image {
    width: 100%;
    height: auto;
}

#table-info-container {
    width: 100%;
    height: 730px;
    background: #F2F2F2;
    border-radius: 90px 0px 0px 90px;
    align-self: center;
}

#table-headers {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #C4C4C4;
    overflow: hidden;
}

.table-header {
    flex: 0.4;
    text-align: center;
}

#team-header {
    flex: 2.5;
    text-align: left;
    padding-left: 10px;
}

.table-rows {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 54px;
    font-size: 16px;
}

.table-rows::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #C4C4C4;
}

.table-rows:last-child::after {
    display: none;
}

.table-rows:nth-last-child(2)::after {
    left: 6px;
}

.table-data {
    flex: 0.4;
    text-align: center;
}

#team-data {
    flex: 2.5;
    text-align: left;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.logo {
    width: 35px;
    height: auto;
    object-fit: contain;
    margin-right: 10px;
}