.related-container {
    font-family: "Poppins";
    font-weight: 800;
    font-size: 30px;
    font-style: italic;
    letter-spacing: "-0.05em";
    margin: 0 50px 50px 50px;
}

.related-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}

.related-card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    line-height: 2;
    overflow: hidden;
}

.related-image-wrapper {
    overflow: hidden;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 40px),
        calc(100% - 40px) 100%,
        0 100%
    );
}

.related-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.2s ease;
}

.related-card:hover .related-image {
    transform: scale(1.1);
}

.related-category {
    font-size: 16px;
    color: gray;
    font-weight: 500;
}

.related-title {
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .related-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .related-container {
        margin: 0 30px 40px 30px;
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .related-grid {
        grid-template-columns: 1fr;
    }

    .related-container {
        margin: 0 20px 30px 20px;
        font-size: 22px;
    }

    .related-title {
        font-size: 18px;
        line-height: 1.4;
    }

    .related-category {
        font-size: 14px;
    }
}