version: "3.9"

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Express"
      SA_PASSWORD: ${MSSQL_SA_PASSWORD}
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  backend:
    build: ./backend
    container_name: api
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080
      DB_HOST: db
      DB_PORT: 1433
      DB_NAME: ${DB_NAME}
      DB_USER: sa
      MSSQL_SA_PASSWORD: ${MSSQL_SA_PASSWORD}
      FRONTEND_URL: ${FRONTEND_URL}
      ASPNETCORE_ENVIRONMENT: Production
      UPLOADS_PATH: /var/www/fkz/uploads
      JWT_TOKEN: ${JWT_TOKEN}
      JWT_ISSUER: ${JWT_ISSUER}
      JWT_AUDIENCE: ${JWT_AUDIENCE}
    volumes:
      - /root/fkz/backend/backend/uploads:/var/www/fkz/uploads
    depends_on:
      - db
    command: >
      sh -c "
      until /opt/mssql-tools/bin/sqlcmd -S db -U sa -P ${MSSQL_SA_PASSWORD} -Q 'SELECT 1' > /dev/null 2>&1; do
        echo 'Waiting for DB...'
        sleep 3
      done
      && dotnet backend.dll
      "
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend_react
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  sql_data: