.shop-page-hero {
    height: auto;
    width: 100%;
    max-width: 1800px;
    overflow-y: hidden;
}

.shop-page-hero-categories {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: black;
    max-width: 1800px;
}

.shop-page-hero-categories .category {
    width: 150px;
    text-align: center;
    font-size: 20px;
    padding: 10px 0 10px 0;
    transition: font-weight 0.2s ease;
}

.shop-page-hero-categories .category:hover {
    font-weight: 700;
}

.shop-page-hero-image {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-image.active {
    opacity: 1;
}

.shop-page-hero-image-overlay {
    color: white;
    font-size: 90px;
    font-style: italic;
    font-weight: 800;
    position: absolute;
    bottom: 100px;
    left: 150px;
}

.shop-page-hero-image-overlay2 {
    color: white;
    font-style: italic;
    font-size: 50px;
    font-weight: 800;
    position: absolute;
    bottom: 100px;
    right: 150px;
}

.shop-page-hero-image-overlay .small {
    font-size: 50px;
}

.shop-page-hero-image-overlay2 .small {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.3s ease;
}

.shop-page-hero-image-overlay2 .small p {
    margin-right: 10px;
}

.shop-page-hero-image-overlay2:hover .small {
    transform: translateX(-5px);
}

.shop-page-hero-image-overlay2 .small img {
    height: 35px;
    transform: translateX(-30px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.shop-page-hero-image-overlay2:hover .small img {
    opacity: 1;
    transform: translateX(0);
}

.shop-page-hero-image-overlay span {
    color: #4DA1FF;
}

/* .shop-page-hero-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.3)
  );
} */