#featuredNews-container {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    letter-spacing: "-0.05em";
    position: relative;
    overflow: hidden;
    height: calc(100vh + 100px);
    min-height: 1000px;
    background-color: #002C6D;
}

#featuredNews-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg,rgba(0, 44, 109, 0.84) 0%, rgba(0, 44, 109, 0.10) 35%, rgba(0, 44, 109, 0) 100%);
    pointer-events: none;
}

#featuredNews-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, #002C6D 0px,  #002C6D 150px, rgba(0, 44, 109, 0.0) 100%, transparent);
    pointer-events: none;
}

#featuredNewsImage-container {
    width: 100%;
}

#featuredNews-image {
    width: 100%;
    height: auto;
}

.featuredNews-title {
    color: white;
    /* position:absolute;
    top: 57%;
    margin-left: 10%; */
    margin-left: 200px;
    /* margin-bottom: 10px; */
    z-index: 3;
    font-size: 20px;
}

.featuredNews-title:hover {
    cursor: pointer;
}

.featuredNews-title h2 {
    transform: translateX(10px);
    transition: transform 0.3s ease;
}

.featuredNews-title:hover h2 {
    transform: translateX(0);
}

.featuredNews-title img {
    transform: translateX(-30px);
    height: 20px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.featuredNews-title:hover img {
    opacity: 1;
    transform: translateX(0);
}

.arrowRight-container {
    margin-left: 5px;
}

#games-membership-text-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-width: 2500px;
    bottom: 40px;
    justify-self: center;
    z-index: 5;
}

#games-membership-container {
    /* position: absolute;
    width: 100%;
    bottom: 40px; */
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 620px;
    padding: 0 30px;
    gap: 30px;
    /* max-width: 2500px;
    justify-self: center; */
}

.games-link {
    padding: 10px 50px;
    font-size: 25px;
    color: white;
    transition: color 0.3s ease;
    width: fit-content;
}

.games-link:hover {
    color: #4DA1FF;
}

.next-game-slot {
    display: none;
}

@media (min-width: 2000px) {
    #featuredNews-container {
        height: fit-content;
        max-height: 1500px;
    }

    .featuredNews-title {
        /* top: 65%; */
        font-size: 30px;
        /* left: 15%; */
    }
}

/* @media (min-width: 2500px) {

    .featuredNews-title {
        top: 70%;
        left: 10%;
    }
} */

/* @media (min-width: 3400px) {

    .featuredNews-title {
        left: 15%;
    }
} */

@media (max-width: 1590px) {
    #games-membership-container {
        grid-template-columns: 1fr 310px;
    }

    #games-membership-container {
        gap: 15px;
    }
}

@media (max-width: 1300px) {


    /* .featuredNews-title {
        margin-left: 10%;
        top: 60%
    } */

    .featuredNews-title {
        font-size: 15px;
    }

    #featuredNews-container::before {
        z-index: 2;
    }

    #featuredNewsImage-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    #featuredNews-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

@media (max-width: 1260px) {

    #featuredNews-container {
        height: calc(100vh + 0px);
    }
    
    #games-membership-container {
        align-items: end;
        height: fit-content;
        height: 210px;
        bottom: 40px;
    }
}

@media (max-width: 1000px) {
    .featuredNews-title {
        margin-left: 50px;
        margin-right: 50px;
    }

    #games-membership-container {
        grid-template-columns: 1fr 230px;
        padding: 0 15px 0 15px;
    }
}

@media (max-width: 786px) {

    #featuredNews-container {
        height: 1100px;
    }

    #featuredNews-container::after {
        height: 70%;
        background: linear-gradient(
            to top,
            #002C6D 10%,
            #002C6D 70%,
            rgba(0, 44, 109, 0.0) 100%
        );
    }

    #featuredNewsImage-container {
        width: 100%;
        height: 51%;
        overflow: hidden;
        position: relative;
    }

    .featuredNews-title {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        /* top: 60%; */
        font-size: 12px;
    }

    .games-link {
        order:3;
        align-self: center;
    }

    #games-membership-text-container {
        bottom: 0px;
    }

    #games-membership-container {
        grid-template-columns: 1fr;
        bottom: 15px;
        gap: 15px;
        padding: 0 15px;
        height: fit-content;
    }

    .next-game-slot {
        display: block;
        grid-row: 2;
    }
}

/* @media (max-width: 515px) {

    .featuredNews-title {
        top: 55%;
    }
} */