#featuredNews-container {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    letter-spacing: "-0.05em";
    position: relative;
    overflow: hidden;
    height: calc(100vh + 100px);
}

#featuredNews-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, #002C6D 0px,  #002C6D 150px, rgba(0, 44, 109, 0.0) 100%, transparent);
}

#featuredNewsImage-container {
    width: 100%;
}

#featuredNews-image {
    width: 100%;
    height: auto;
}

#featuredNews-title {
    color: white;
    position:absolute;
    top: 60%;
    margin-left: 10%;
    z-index: 3;
}

#featuredNews-title:hover {
    cursor: pointer;
}

.arrowRight-container {
    margin-left: 5px;
}



