#trophies-section-container {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    letter-spacing: "-0.05em";
}

#trophies-section-text {
    color:#002C6D;
    font-size: 70px;
    margin: 20px 0 20px 100px;
}

#trophies-container  {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    margin: 0 50px 20px 50px; 
}

#trophies-image-container {
    background-color: #002C6D;
    padding: 10px;
    overflow: hidden;
    height: 75vh;
    /* clip-path: polygon(
        0 0, 
        100% 0, 
        100% 100%, 
        150px 100%,
        0 calc(100% - 150px), 
        0 100%
    ); */
}

#trophy-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
    clip-path: polygon(
        0 0, 
        100% 0, 
        100% 100%, 
        150px 100%,
        0 calc(100% - 150px), 
        0 100%
    );
}

#trophies-movingText-container {
    display: grid;
    grid-template-rows: 1fr 160px;
    overflow: hidden;
}

#alltrophies-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.trophy {
    border-style: solid;
    border-color: black;
}

#trophy1 {
    
}

#trophy2 {
   
}

#trophy3 {
    
}

#trophy4 {
    
}

#moving-text {
    background-color: #002C6D;
    color: white;
    font-size: 40px;
    text-align: center;
    align-content: center;
}

.loop-text {
    user-select: none;
}