#trophies-section-container {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    letter-spacing: "-0.05em";
}

#trophies-section-text {
    color:#002C6D;
    font-size: 70px;
    margin: 20px 0 20px 100px;
}

#trophies-container  {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    margin: 0 50px 20px 50px; 
}

#trophies-image-container {
    background-color: #002C6D;
    padding: 10px;
    overflow: hidden;
    height: 75vh;
    /* clip-path: polygon(
        0 0, 
        100% 0, 
        100% 100%, 
        150px 100%,
        0 calc(100% - 150px), 
        0 100%
    ); */
}

#trophy-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
    clip-path: polygon(
        0 0, 
        100% 0, 
        100% 100%, 
        150px 100%,
        0 calc(100% - 150px), 
        0 100%
    );
}

#trophies-movingText-container {
    display: grid;
    grid-template-rows: 1fr 160px;
    overflow: hidden;
}

#alltrophies-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid rgba(0, 44, 109, 0.5);
    position: relative;
}

#alltrophies-container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: rgba(0, 44, 109, 0.5);
}

#alltrophies-container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top:50%;
    height: 2px;
    background-color: rgba(0, 44, 109, 0.5);
}

.trophy-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    user-select: none;
}

.trophy {
    height: 150px;
}

#moving-text {
    background-color: #002C6D;
    color: white;
    font-size: 40px;
    text-align: center;
    align-content: center;
}

.loop-text {
    user-select: none;
}

