#trophies-section-container {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    letter-spacing: "-0.05em";
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        196.88deg, 
        #002C6D 40%, 
        #0043A6 71.37%, 
        #0055D3 109.23%
        );
    display: grid;
    grid-template-rows: 1fr 0.5fr;
}

#trophies-text-image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

#trophies-fixed-text {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50%;
    left: -50%;
    font-size: 18vw;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
    z-index: 0;
    color: transparent;
    -webkit-text-stroke: 2px rgba(77, 161, 255, 0.4);
    
}

#trophies-text-container {
    align-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    z-index: 1;
}

#trophies-trophy-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    
}

.trophy-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    user-select: none;
}

.trophy {
    height: 120px;
}

#trophies-text {
    color: white;
    font-size: 60px;
    text-align: center;
    line-height: 1;
}

.larger {
    font-size: 150px;
}

#trophies-image-container {
    align-content: center;
    justify-self: center;
    margin-right: 50px;
}

#trophies-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 60px),
        calc(100% - 60px) 100%,
        0 100%
    );
}

#trophies-article-container {
    display: grid;
    grid-template-columns: 1.5fr 0.8fr 0.8fr 0.8fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    margin-right: 50px;
}

.article-text-container {
    font-size: 40px;
    color: white;
}

.article-image-container {
    align-content: center;
    justify-self: center;
}

.article-image {
    object-fit: cover;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.2s ease;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 40px),
        calc(100% - 40px) 100%,
        0 100%
    );
}

.article-image:hover {
    transform: scale(1.2);
    z-index: 100;
}