.shop-featured-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.shop-featured-container {
    width: 100%;
    font-family: "Poppins";
    font-style: italic;
    color: white;
    font-weight: 800;
    max-width: 1800px;


    display: grid;
    grid-auto-flow: column;       
    grid-auto-columns: minmax(380px, 1fr); 

    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none;  /* IE i Edge */
    scrollbar-width: none;     /* Firefox */
    margin-left: 25px;
    margin-right: 25px;
}

.shop-featured-container::-webkit-scrollbar {
    display: none;
}

.shop-featured-item {
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 40px),
        calc(100% - 40px) 100%,
        0 100%
    );
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
    height: 650px;
    width: 100%;
}

.shop-featured-item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 1s ease;
    pointer-events: none;
    user-select: none;
}

.img-main {
    opacity: 1;
    z-index: 1;
}

.img-hover {
    opacity: 0;
    z-index: 2;
}

.shop-featured-item:hover .img-main {
    opacity: 0;
}

.shop-featured-item:hover .img-hover {
    opacity: 1;
}

.shop-featured-overlay {
    position: absolute;
    z-index: 5;
    font-size: 20px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: transparent;
    color: rgb(70, 59, 59);
    border: none;
    font-size: 50px;
    cursor: pointer;
    padding: 292px 19px; 
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
    opacity: 0.7; /
}

.scroll-btn:hover {
    background-color: rgba(128, 128, 128, 0.5); 
    color: white;
    opacity: 1;
}

.scroll-btn.left {
    left: 0px;
}

.scroll-btn.right {
    right: 0px;
}

@media (max-width: 1200px) {

    .shop-featured-wrapper {
        margin-top: 50px;
    }
}