#newsSection-container {
    --summary-expand: 72px;
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    letter-spacing: "-0.05em";
}

#news-text {
    margin: 20px 0 20px 100px;
}

#news-container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 50px 20px 50px;
    height: 75vh;
}

.news-item {
    position: relative;
    overflow: hidden;
    color: white;
}

.news-item:hover {
    cursor: pointer;
}

.news-item.item-0 {
    grid-area: 1/1/3/2;
}

.news-item.item-1 {
    grid-area: 1/2/2/3;
    font-size: smaller;
}

.news-item.item-2 {
    grid-area: 2/2/3/3;
    font-size: smaller;
}

.news-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(
        0 0, 
        100% 0, 
        100% calc(100% - 40px), 
        calc(100% - 40px) 100%, 
        0 100%
    );
}

.news-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
        180deg,
        rgba(0, 44, 109, 0) 0%,
        rgba(0, 44, 109, 0.6) 20%,
        rgba(0, 44, 109, 0.9) 50%,
        rgba(0, 44, 109, 1) 70%,
        transparent
    );
    background-size: 100% 150%;  
    transition: height 0.2s ease;
    clip-path: polygon(
        0 0, 
        100% 0, 
        100% calc(100% - 40px), 
        calc(100% - 40px) 100%, 
        0 100%
    );
}

.news-item.item-0::after {
    height: 30%; 
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 95%;
    padding: 20px;
    z-index: 4;
}

.top-overlay {
    color: rgb(206, 196, 196);
}

.news-item:hover::after {
    height: calc(50% + (var(--summary-expand)));
}

.news-item.item-0:hover::after {
    height: calc(30% + (var(--summary-expand)));
}

.summary {
    display:block;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    margin: 8px 0 0 0;
    transition: max-height 0.2s ease, opacity 0.2s ease;
}

.news-item:hover .summary {
    max-height: var(--summary-expand);
    opacity: 1;
}