#newsSection-container {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    letter-spacing: "-0.05em";
}

#news-text {
    margin: 20px 0 20px 100px;
}

#news-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    height: 75vh;
}

.news-item {
    position: relative;
    overflow: hidden;
    color: white;
}

.news-item:hover {
    cursor: pointer;
}

.news-item.item-0 {
    grid-area: 1/1/3/2;
}

.news-item.item-1 {
    grid-area: 1/2/2/3;
    font-size: smaller;
}

.news-item.item-2 {
    grid-area: 2/2/3/3;
    font-size: smaller;
}

.news-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(
        0 0, 
        100% 0, 
        100% calc(100% - 40px), 
        calc(100% - 40px) 100%, 
        0 100%
    );
}

.news-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, #002C6D 0px,  #002C6D 30px, rgba(0, 44, 109, 0.0) 100%, transparent);
    clip-path: polygon(
        0 0, 
        100% 0, 
        100% calc(100% - 40px), 
        calc(100% - 40px) 100%, 
        0 100%
    );
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 100%;
    padding: 20px;
    z-index: 4;
}

h3.textSmall-overlay {
    color: rgb(206, 196, 196);
}

