#newsSection-container {
    --summary-expand: 72px;
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    letter-spacing: "-0.05em";
    max-width: 2000px;
    align-self: center;
}

#news-text {
    margin: 20px 0 20px 100px;
    font-size: 70px;
    color: #002C6D;
}

#news-container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 50px 0 50px;
    max-height: 700px;
}

.news-item {
    position: relative;
    overflow: hidden;
    color: white;
    min-height: 330px;
}

.news-item:hover {
    cursor: pointer;
}

.news-item.item-0 {
    grid-area: 1/1/3/2;
}

.news-item.item-1 {
    grid-area: 1/2/2/3;
    font-size: smaller;
}

.news-item.item-2 {
    grid-area: 2/2/3/3;
    font-size: smaller;
}

.news-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(
        0 0, 
        100% 0, 
        100% calc(100% - 40px), 
        calc(100% - 40px) 100%, 
        0 100%
    );
}

.news-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
        180deg,
        rgba(0, 44, 109, 0) 0%,
        rgba(0, 44, 109, 0.6) 20%,
        rgba(0, 44, 109, 0.9) 50%,
        rgba(0, 44, 109, 1) 70%,
        transparent
    );
    background-size: 100% 150%;  
    transition: height 0.2s ease;
    clip-path: polygon(
        0 0, 
        100% 0, 
        100% calc(100% - 40px), 
        calc(100% - 40px) 100%, 
        0 100%
    );
}

.news-item.item-0::after {
    height: 30%; 
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 2.5%;
    width: 95%;
    padding: 20px;
    z-index: 4;
}

.top-overlay {
    color: #C4C4C4;
    font-weight: 300;
}

.news-item:hover::after {
    height: calc(50% + (var(--summary-expand)));
}

.news-item.item-0:hover::after {
    height: calc(30% + (var(--summary-expand)));
}

.summary {
    display:block;
    font-weight: 300;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    margin: 8px 0 0 0;
    transition: max-height 0.2s ease, opacity 0.2s ease;
}

.news-item:hover .summary {
    max-height: var(--summary-expand);
    opacity: 1;
}

/* @media (min-width: 2000px) {
    #news-container {
        max-height: 75vh;
        min-height: 500px;
    }
} */

@media (max-width: 1300px) {
    .text-overlay {
        font-size: 11px;
    }
}

@media (max-width: 1024px) {

    #newsSection-container{
        width: 100%;
    }

    #news-text {
        margin: 20px;
        font-size: 50px;
        text-align: center;
    }

    #news-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        max-height: none;
    }

    .news-item.item-0,
    .news-item.item-1,
    .news-item.item-2 {
        grid-area: auto;
        height: 300px;
        font-size: initial;
    }

    .news-item::after,
    .news-item.item-0::after {
        height: 40%;
    }

    .text-overlay {
        padding: 15px;
    }
}

@media (max-width: 768px) {

    #news-text {
        font-size: 36px;
    }

    #news-container {
        grid-template-columns: 1fr;
        margin: 0 15px 0px 15px;
        gap: 15px;
    }

    .news-item {
        min-height: 260px;
    }

    .summary {
        opacity: 1;
        max-height: none;
    }

    .news-item::after,
    .news-item.item-0::after {
        height: 60%;
    }

    .text-overlay h1 {
        font-size: 20px;
    }

    .top-overlay {
        font-size: 12px;
    }
}

@media (max-width: 480px) {

    #news-text {
        font-size: 33px;
    }

    #news-container {
        grid-template-columns: 1fr;
        margin: 0 15px 0px 15px;
        gap: 15px;
    }

    .summary {
        font-size: 12px;
    }

    .news-item::after,
    .news-item.item-0::after {
        height: 65%;
    }

    .text-overlay h1 {
        font-size: 16px;
    }

    .top-overlay {
        font-size: 12px;
    }
}