#footer-sponsor-container {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    letter-spacing: "-0.05em";
    width: 100%;
    height: 500px;
}

#footer-container {
    height: 100%;
    width: 100%;
    background-color: #002C6D;
    margin-top: 200px;
    position: relative;
}

#footer-image-wrapper {
    position: absolute;
    width: 320px;
    top: -170px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px;
    border-radius: 50%;
}

#footer-image {
    display: block;
    width: 300px;
}

#footer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#footer-fixed-text {
    display: grid;
    grid-template-columns: 1fr 0.4fr 1fr;
    user-select: none;
    color: white;
    font-size: 40px;
}

#fixed-left {
    text-align: center;
    margin-top: 10px;
}

#fixed-right {
    text-align: center;
    margin-top: 10px;
}

.colored {
    color: #4DA1FF;
}