#first-team-container {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    letter-spacing: "-0.05em";
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#first-team-header {
    height: 280px;
    background-color: #002C6D;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

h1.first-team-header-text {
    margin-top: 100px;
    color: white;
    font-size: 70px;
    margin-left: 50px;
}

h2.first-team-header-text {
    color: white;
    font-size: 35px;
    margin-left: 50px;
}

.first-team-text {
    margin-left: 50px;
}

h1.first-team-text {
    font-size: 70px;
    color: #002C6D;
}