#stadium-section-container {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    height: fit-content;
    width: 100%;
    color: white;
    max-width: 2000px;
    align-self: center;
}

#stadium-image-text-container {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: fit-content;
    margin: 100px 50px 100px 50px;
}

#stadium-image-container {
    width: 100%;
    height: 100%;
}

#stadium-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#stadium-text-container {
    background: linear-gradient(
        89.91deg,
        rgba(0, 44, 109, 0.85) 11.83%,
        #0055D3 119.94%
    );

    padding: 40px;
    width: calc(100% + 180px);
    transform: translateX(-180px);
    z-index: 2;

    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 60px),
        calc(100% - 60px) 100%,
        0 100%
    );
}

p.stadium-text {
    font-style: normal;
    font-weight: 300;
}

.stadium-text-button {
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stadium-text-button p {
    margin-right: 10px;
    transform: translateX(5px);
    transition: transform 0.3s ease;
}

.stadium-text-button:hover p {
    transform: translateX(-5px);
}

.stadium-text-button img {
    transform: translateX(-30px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.stadium-text-button:hover img {
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 1200px) {
    #stadium-image-text-container {
        grid-template-columns: 1.2fr 1fr; 
        width: calc(100% - 100px); 
        margin: 80px 50px;
    }

    #stadium-text-container {
        width: calc(100% + 120px); 
        transform: translateX(-120px);
        padding: 30px;
    }

    .stadium-text-button {
        font-size: 24px;
    }

    p.stadium-text {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    #stadium-image-text-container {
        grid-template-columns: 1.2fr 1fr; 
        width: calc(100% - 30px); 
        margin: 80px 15px;
    }
}

@media (max-width: 786px) {
    #stadium-image-text-container {
        grid-template-columns: 1fr; 
        width: fit-content;
        margin: 50px 15px 50px 15px;
    }

    #stadium-image-container {
        width: 100%;
        height: auto;
    }

    #stadium-image {
        width: 100%;
        height: auto;
    }

    #stadium-text-container {
        width: 100%;
        transform: translateY(-30px); 
        height: calc(100% + 30px);
        padding: 24px;
        clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - 40px),
            calc(100% - 40px) 100%,
            0 100%
        );
    }

    #stadium-text-container h1 {
        font-size: 24px;
    }

    p.stadium-text {
        font-size: 14px;
        line-height: 1.5;
    }

    .stadium-text-button {
        font-size: 18px;
    }
}