#news-list-container {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    letter-spacing: "-0.05em";
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#news-list-header {
    /* height: 280px; */
    /* background-color: #002C6D; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

h1.news-list-header-text {
    margin-top: 100px;
    color: #002C6D; 
    font-size: 70px;
    margin-left: 50px;
}

.news-list-header-options {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    margin-left: 50px;
    font-size: 20px;
}

.news-list-header-option {
    width: 150px;
    transition: background-color 0.2s ease, color 0.2s ease;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 10px),
        calc(100% - 10px) 100%,
        0 100%
    );
}

.news-list-header-option:hover {
    cursor: pointer;
    background-color: #002C6D;
    color: white;
}

.active {
    background-color: #002C6D;
    color: white;
}

.news-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 30px 50px 0 50px;
    gap: 10px;
}

.news-list-item {
    display: flex;
    flex-direction: column;
    height: fit-content;
    line-height: 2;
    overflow: hidden;
}

.news-list-image-wrapper {
    overflow: hidden;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 40px),
        calc(100% - 40px) 100%,
        0 100%
    );
}

.news-list-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.2s ease;
}

.news-list-item:hover .news-list-image {
    transform: scale(1.1);
}

.news-list-category {
    font-size: 16px;
    color: gray;
    font-weight: 500;
}

.news-list-title {
    font-size: 20px;
    font-weight: 500;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    margin: 30px 0 30px 0;
}

img.left-arrow {
    transform: rotate(180deg);
}

.page-number {
    width: 20px;
    text-align: center;
}

.page-number:hover {
    cursor: pointer;
}

.page-arrow:hover {
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    user-select: none;
}



