.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    margin: 30px 0 30px 0;
}

img.left-arrow {
    transform: rotate(180deg);
}

.page-number {
    width: 20px;
    text-align: center;
}

.page-number:hover {
    cursor: pointer;
}

.page-arrow:hover {
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    user-select: none;
}