#membershipCard-container {
    width: 590px;
    background: rgba(255, 255, 255, 0.23);
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 40px),
        calc(100% - 40px) 100%,
        0 100%
    );
    width: 100%;
    transition: height 0.3s ease, width 0.3s ease;
    overflow: hidden;
}

.membershipCard-image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#membershipCard-container .membershipCard-image {
    width: 100%;       
    height: 100%;      
    object-fit: contain; 
}

#membershipCardText-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: white;
}

#membershipCardText-container .small {
    font-size: 14px;
    font-weight: 500;
}

#membershipCardText-container .big {
    font-size: 40px;
}

.smembershipCard-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.smembershipCard-link p {
    transform: translateX(5px);
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.smembershipCard-link:hover p {
    transform: translateX(-5px);
}

.smembershipCard-link img {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.smembershipCard-link:hover img {
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 1590px) {
    #membershipCard-container .membershipCard-image {
        display: none;
    }

    .membershipCard-image-wrapper {
        display: none;
    }

    #membershipCard-container {
        width: 310px;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1260px) {
    #membershipCard-container {
        height: 210px;
    }
}

@media (max-width: 1000px) {
    #membershipCard-container {
        width: 230px;
    }

    #membershipCardText-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        color: white;
    }

    #membershipCardText-container .small {
        font-size: 12px;
        font-weight: 500;
    }

    #membershipCardText-container .big {
        font-size: 30px;
    }
}

@media (max-width: 786px) {
    #membershipCard-container {
        width: 100%;
        height: 210px;
        grid-template-columns: 1fr;
        grid-row: 1;
    }

    #membershipCard-container .membershipCard-image {
        display: block;
    }
}

@media (max-width: 550px) {

    #membershipCard-container {
        grid-template-columns: 1fr;
        width: 100%;
    }

    #membershipCard-container .membershipCard-image {
        display: none;
    }
}
