.gamesTrack-container {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    position: absolute;
    bottom: 40px;
    z-index: 10;
    width: 100%;
    height: 250px;
}

.game {
    width: 300px;
    background: rgba(255, 255, 255, 0.23);
    height: 100%;
    display: flex;
    flex-direction: column;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 40px),
        calc(100% - 40px) 100%,
        0 100%
    );
}

.gameLogo-container {
    margin-left: 15px;
    margin-top: 15px;
}

.homeLogoText-container {
    margin: 15px 15px 15px 15px;
    display: grid;
    grid-template-columns: 0.9fr 2.3fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.homeLogoText-container img {
    /* display: block; */
    height: 50px;
    width: auto;
}

.homeLogoText-container .teamName {
    text-align: left;
    color: white;
}

.homeLogoText-container .teamScore {
    font-size: 35px;
}

.homeLogoText-container p {
    font-size: 20px;
}

.gameDate-container {
    margin-left: 15px;
}