#sponsor-track-container {
    width: auto;
    height: 155px;
    white-space: nowrap;
    display: flex;
    overflow: hidden;
}

.sponsor-track {
    display:flex;
    gap: 100px;
    align-items: center;
    padding-right: 100px;
}

.sponsor-track img {
    height: 50px;
    width: auto;
    object-fit: contain;
    transition: transform 0.2s ease;
}

.sponsor-track img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width: 1200px) {
    #sponsor-track-container {
        height: 130px;
    }

    .sponsor-track {
        gap: 70px;
        padding-right: 70px;
    }

    .sponsor-track img {
        height: 45px;
    }
}

@media (max-width: 1200px) {
    #sponsor-track-container {
        height: 130px;
    }

    .sponsor-track {
        gap: 70px;
        padding-right: 70px;
    }

    .sponsor-track img {
        height: 45px;
    }
}

@media (max-width: 480px) {
    #sponsor-track-container {
        height: 90px;
    }

    .sponsor-track {
        gap: 35px;
        padding-right: 35px;
    }

    .sponsor-track img {
        height: 32px;
    }
}
