.player-container {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    letter-spacing: "-0.05em";
    width: 100%;
    margin-bottom: 100px;
}

.player-info-container {
    background: linear-gradient(
        196.88deg, 
        #002C6D 40%, 
        #0043A6 71.37%, 
        #0055D3 109.23%
        );
    background-size: 150% 200%;
}

.player-info {
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    position: relative;
    max-width: 2000px;
    justify-self: center;
}

.player-text-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 100px;
    margin-top: 50px;
    z-index: 2;
}

.onlyPlayer-allDetails {
    max-width: 1800px;
}

.onlyPlayer-name-surname-position{
    display: grid;
    grid-template-rows: 0.4fr 1fr 0.4fr;
    height: fit-content;
    color: white;
}

.onlyPlayer-name {
    font-size: 50px;
    transition: font-size 0.3s ease;
}

.onlyPlayer-surname {
    font-size: 100px;
    font-family: "Marck Script";
    color: #4DA1FF;
    font-weight: 500;
    transition: font-size 0.3s ease;
}

.onlyPlayer-position {
    font-size: 25px;
    transition: font-size 0.3s ease;
}

.player-image-container {
    justify-self: center;
    height: fit-content;
    z-index: 2;
}

.onlyPlayer-image {
    height: 95vh;
    align-self: bottom;
}

.onlyPlayer-number {
    display:inline-block;
    position: absolute;
    font-weight: 700;
    background: linear-gradient(
    180deg,
    rgba(255,255,255,0.9) 0%,
    rgba(255,255,255,0.6) 30%,
    rgba(255,255,255,0.3) 60%,
    rgba(255,255,255,0.1) 100%
    );
    background-size: 200% 100%;
    opacity:0.6;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -47%);
    font-size: 121vh;
    pointer-events: none;
    user-select: none;
    z-index: 1;
    transition: font-size 0.3s ease;
}

.onlyPlayer-allDetails {
    padding-top: 50px;
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
}

div.top {
    font-size: 20px;
    color: gray;
}

span.info-bottom {
    font-size: 30px;
    color: black;
}

.onlyPlayer-details-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.onlyPlayer-details-biography {
    padding-top: 50px;
    font-size: 30px;
}

.biography {
    font-size: 30px;
    font-weight: 300;
}

@media (max-width: 1200px) {

    .onlyPlayer-name {
        font-size: 46px;
    }

    .onlyPlayer-surname {
        font-size: 82px;
    }

    .onlyPlayer-position {
        font-size: 30px;
    }

    .onlyPlayer-number {
        font-size: 90vh;
    }

    .player-text-container {
        margin-left: 50px;
        margin-top: 30px;
    }

    .onlyPlayer-details-info div.top {
        font-size: 18px;
    }

    span.info-bottom {
        font-size: 24px;
    }

    .onlyPlayer-details-biography,
    .biography {
        font-size: 24px;
    }

    .player-image-container img.onlyPlayer-image {
        /* height: 70vh; */
    }
}

@media (max-width: 768px) {

    .player-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        height: 100vh;
        padding-top: 70px;
        position: relative;
    }

    .player-info::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height:60%; 
        background: linear-gradient(
            to top,
            #002C6D 0%,
            #002C6D 36%,
            rgba(0, 44, 109, 0.9) 55%,
            rgba(0, 44, 109, 0.5) 75%,
            rgba(0, 44, 109, 0) 100%
        );
        z-index: 3;         
        pointer-events: none;
    }

    .player-image-container {
        order: 0; 
        width: 100%;
        margin-bottom: 20px;
    }

    .player-text-container {
        order: 1; 
        position: static;    
        display: flex;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
        margin-top: 0;
        z-index: 4;
        transform: translateY(-80px);
    }

    .onlyPlayer-name,
    .onlyPlayer-surname,
    .onlyPlayer-position {
        /* margin: 5px 0; */
    }

    .onlyPlayer-name { font-size: 40px; }
    .onlyPlayer-surname { font-size: 70px; }
    .onlyPlayer-position { font-size: 25px; }

    .onlyPlayer-number {
        font-size: 70vh;
        top: 45%;
    }

    .player-image-container img.onlyPlayer-image {
        width: 100%;
        height: 70vh;
        object-fit: contain;
    }
}


@media (max-width: 480px) {
    .onlyPlayer-number {
        font-size: 50vh;
        top: 30%;
    }
    
}



