#header-container {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: 100px;
    z-index: 1000;
    align-items: center;
    transition: height 0.2s ease, background-color 0.5s ease, transform 0.2s ease;
}

header.hide {
    transform: translateY(-110%);
}

header.show {
    transform: translateY(0);
}

#header-fixed {
    display:flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#logo-option {
    margin-left: 50px;
}

#logo-color {
    height: 53px;
}

.header-options {
    display: flex;
    flex-direction: row;
    margin: auto;
    color: white;
    transition: color 0.5s ease;
}

.header-option {
    margin-left: 25px;
    margin-right: 25px;
    width: max-content;
}

.arrow-down {
    margin-left: 5px;
}

.user-icon {
    margin-right: 5px;
    height: 20px;
}

#sign-in-text {
    color: white;
    margin-right: 50px;
}

.header-option,#logo-option,#user-option,#sign-in-text:hover {
    cursor: pointer;
}

