#header-container {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: 100px;
    min-height: 100px;
    z-index: 1000;
    align-items: center;
    transition: height 0.2s ease, background-color 0.5s ease, transform 0.2s ease;
}

header.hide {
    transform: translateY(-110%);
}

header.show {
    transform: translateY(0);
}

#header-fixed {
    display:flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#logo-option {
    margin-left: 50px;
}

#logo-color {
    height: 53px;
}

.header-options {
    display: flex;
    flex-direction: row;
    margin: auto;
    color: white;
    transition: color 0.5s ease;
}

.header-option {
    margin-left: 25px;
    margin-right: 25px;
    width: max-content;
}

.arrow-down {
    margin-left: 5px;
}

.user-icon {
    margin-right: 5px;
    height: 20px;
}

#sign-in-text {
    color: white;
    margin-right: 50px;
}

.header-option,#logo-option,#user-option,#sign-in-text:hover {
    cursor: pointer;
}


#dropdown-container {
    color: white;
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    letter-spacing: "-0.05em";
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    display: none;
    display:grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    width: 100%;
}

.dropdown-left {
    margin-left: 50px;
    font-size: xx-large;
    user-select: none;
}

#colored-text {
    color: #4DA1FF;
}

.dropdown-items {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#dropdown-childItems {
    align-items: left;
    justify-items: left
}

h3 {
    margin-bottom: 10px;
}