#player-card-container {
    
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.player {
    overflow: hidden;
    position: relative;
    border-width: 1px 1px 10px 1px;
    border-style: solid;
    border-color: rgba(0, 44, 109, 0.5);
    transition: border-color 0.5s ease;
}

.player:hover {
    border-color: rgba(0, 44, 109, 1);
    cursor: pointer;
}

.player:only-child {
    max-width: calc((100% /4));
}

.player::before {
    content: "";
    position: absolute;
    inset: 0;           
    background: linear-gradient(196.88deg, #002C6D 40%, #0043A6 71.37%, #0055D3 109.23%);
    clip-path: polygon(
        100% 100%,
        100% 0,
        45% 45%,
        49% 25%,
        0 60%,
        0 100%
    );
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.player:hover::before {
    opacity: 1;
}

.player-text {
    position: absolute;
    top: 40px;
    left: 40px;
    color: #002C6D;
}

.player-name {
    font-family: "Montserrat";
    font-size: 30px;
}

.player-surname {
    font-size: 40px;
    transition: color 0.5s ease;
}

.player:hover .player-surname {
    color: #4DA1FF;
}

.player-position {
    font-family: "Montserrat";
    font-size: 20px;
}

.player-number {
    font-family: "Haettenschweiler";
    position: absolute;
    bottom: 10%;
    left: 20px;
    font-size: 230px;
    font-weight: 300;
    color: #002C6D;
    transition: color 0.5s ease;
}

.player:hover .player-number {
    color: white;
}

.player-image {
    width: 100%;
    height: auto;
    transform-origin: bottom right;
    --card-transform: scale(0.9) translateX(clamp(50px, 80px , 130px)) translateY(clamp(80px, 80px, 130px));
    transform: var(--card-transform);
    transition: transform 0.5s ease; 
}

.player:hover .player-image {
    transform: var(--card-transform) scale(1.05);
}

